<footer>
    <div class="main-footer">
            <ul class="logos">
                <li class="footer-logo">
                    <i class="fa-brands fa-facebook"></i>
                </li>
                <li class="footer-logo">
                    <i class="fa-brands fa-twitter"></i>
                </li>
                <li class="footer-logo">
                    <i class="fa-brands fa-instagram"></i>
                </li>
            </ul>
            <ul class="redirects">
                <li class="redirect">
                    <a href="/home">Home</a>
                </li>
                <li class="redirect">
                    <a href="/shop">Tienda</a>
                </li>
                <li class="redirect">
                    <a href="/aboutus">Nosotros</a>
                </li>
            </ul>
        <div class="copyright">Copyright © 1999-2023 NailStore S.R.L</div>
    </div>
</footer>