<header>
    <div class="nav-bar-box">
        <div class="logo-box">
            <a href="/home">
                <div class="logo">
                    Nail Store
                </div>
            </a>
        </div>
        <div class="search-box">
            <div class="text-search-box">
                <input type="text" name="search" id="text-search" placeholder="Buscar">
            </div>
            <div class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="list-box">
            <ul class="list">
                <li class="list-option">
                    <a href="/shop">Tienda</a>
                </li>
                <li class="list-option">
                    <a href="/aboutus">Nosotros</a>
                </li>
                <li class="list-option">
                    <a href="/login">Ingresa</a>
                </li>
            </ul>
        </div>
        <div class="cart">
            <div class="user-icon">
                <% if (user) { %>
                    <a href="/user-detail/<%=user.id%>" class="user-box">
                        <img src="/images/users/<%=user.image%>" alt="NoResponde" srcset="" class="user-image">
                    </a>
                <% }else{ %>
                    <div class="default-image">
                        <i class="fa-solid fa-user"></i>
                    </div>
                <% } %>
            </div>
            <div class="cart-icon">
                <a href="/cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </div>
    </div>
</header>