<header>
    <div class="nav-bar-box">
        <div class="logo-box">
            <a href="/home">
                <div class="logo">
                    Nail Store
                </div>
            </a>
        </div>
        <form class="search-box" action="/search" method="get">
            <div class="text-search-box">
                <input type="search" name="search" id="text-search" placeholder="Buscar">
            </div>
            <button class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <div class="list-box">
            <ul class="list">
                <li class="list-option">
                    <a href="/shop">Tienda</a>
                </li>
                <li class="list-option">
                    <a href="/about-us">Nosotros</a>
                </li>
                <% if (user) { %>
                    <li class="list-option">
                        <a href="/contact">Contacto</a>
                    </li>
                <% }else{ %>
                    <li class="list-option">
                        <a href="/login">Ingresa</a>
                    </li>
                <% } %>
            </ul>
        </div>
        <div class="cart">
            <div class="user-icon">
                <% if (user) { %>
                    <div class="user-box">
                        <img src="/images/users/<%=user.image%>" alt="NoResponde" srcset="" class="user-image" id="user-box">
                    </div>
                    <div class="display-box" id="display-box">
                        <a href="/user-detail/<%=user.id%>" class="link-div">Detalle de Usuario</a>
                        <form action="/logout" method="post" class="logout-form">
                            <input type="submit" value="Logout" class="post-buton">
                        </form>
                        <input type="button" value="X" class="close-btn" id="close"> 
                    </div>
                <% }else{ %>
                    <div class="default-image">
                        <i class="fa-solid fa-user"></i>
                    </div>
                <% } %>
            </div>
            <div class="cart-icon">
                <a href="/cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </div>
    </div>
</header>
<script src="/scriptsjs/userInfo.js"></script>