<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesAboutUs.css">
    <%- include('./partials/head.ejs') %>
    <title>Sobre Nosotros</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="main-title">
            Nosotros
        </div>
        <section class="text-section">
            <div class="logo-img">
                <img src="images/Logo.jpg" alt="" srcset="">
            </div>
            <div class="info">
                <div class="title">
                    Sobre el Proyecto Nailstore
                </div>
                <p class="text">
                    Somos una empresa que proporciona servicios de alta calidad a nuestros clientes. Con años de experiencia y un equipo de expertos, nos hemos convertido en un socio confiable para empresas en varias industrias.
                </p>
                <div class="title">
                    Miembros del Equipo
                </div>
                <p class="text">
                    <div class="title">
                        Agustin Rossaroli
                    </div>
                    <div class="text">
                        Web Developer
                    </div>
                    <div class="title">
                        Sebastian Ramos
                    </div>
                    <div class="text">
                        Web Developer
                    </div>
                    <div class="title">
                        Yhoxin Rossel
                    </div>
                    <div class="text">
                        Web Developer
                    </div>
                </p>
            </div>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>