<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/stylesHome.css" rel="stylesheet">
    <%- include('./partials/head.ejs') %>
        <title>Nail Store</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main>
            <div class="title">
                Destacados
            </div>
            <section class="product-section">
                <div class="product-box">
                    <div class="product-image">
                        <img src="/images/img1.jpg" alt="No responde">
                    </div>
                    <div class="product-description">
                        <div class="product-prize">$20000</div>
                        <div class="product-title">TITULO PRODUCTO 1</div>
                    </div>
                </div>
                <div class="product-box">
                    <div class="product-image">
                        <img src="/images/img2.jpg" alt="No responde">
                    </div>
                    <div class="product-description">
                        <div class="product-prize">$20000</div>
                        <div class="product-title">TITULO PRODUCTO 2</div>
                    </div>
                </div>
                <div class="product-box">
                    <div class="product-image">
                        <img src="/images/img3.jpg" alt="No responde">
                    </div>
                    <div class="product-description">
                        <div class="product-prize">$20000</div>
                        <div class="product-title">TITULO PRODUCTO 3</div>
                    </div>
                </div>
            </section>
            <div class="title">
                Mas productos
            </div>
            <section class="product-section">
                <div class="product-box">
                    <div class="product-image">
                        <img src="/images/img6.jpg" alt="No responde">
                    </div>
                    <div class="product-description">
                        <div class="product-prize">$20000</div>
                        <div class="product-title">TITULO PRODUCTO X</div>
                    </div>
                </div>
                <div class="product-box">
                    <div class="product-image">
                        <img src="/images/img8.jpg" alt="No responde">
                    </div>
                    <div class="product-description">
                        <div class="product-prize">$20000</div>
                        <div class="product-title">TITULO PRODUCTO X</div>
                    </div>
                </div>
                <div class="product-box">
                    <div class="product-image">
                        <img src="/images/img7.jpg" alt="No responde">
                    </div>
                    <div class="product-description">
                        <div class="product-prize">$20000</div>
                        <div class="product-title">TITULO PRODUCTO X</div>
                    </div>
                </div>
            </section>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>