<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <div>
        Debes registrarte para continuar
        <div>
            <a href="/login">Inicia Sesion</a>
        </div>
        <div>
            <a href="/register">Registrate</a>
        </div>
    </div>
</body>
</html>