*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f5f5Ff;
}
main{
    display: flex;
    justify-content: center;
}
.detail-box{
    background-color: #ffffff;
    width: 45%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Aboreto', cursive;
}
img{
    width: 100%;
    vertical-align: bottom;
}
.img-box{
    width: 50%;
    margin: 10px;
}
.text-box{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.titles{
    font-weight: bold;
    margin: 4px 0px 4px 0px;
}
.info{
    border-bottom: 1px solid black;
    margin: 3px 0px 3px 0px;
}
.user-butons{
    display: flex;
    flex-direction: column-reverse;
}
#delete-buton{
    background-color: #DB655E;
    padding: 5px;
    border: none;
    font-family: 'Aboreto', cursive;
}
#delete-buton:hover{
    background-color: #DB261D;
}
.delete-box{
    border: solid 1px black;
    margin: 5px;
}
.edit-box{
    margin: 5px;
}
.edit-buton{
    border: solid 1px black;
    padding: 6px;
    font-size: 14px;
    background-color: pink;
}
.edit-buton:hover{
    background-color: plum;
}