* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #EEEEEE;
    font-family: "Roboto", sans-serif;
}
main {
    display: flex;
    justify-content: space-between;
}
.product-section{
    width: 70%;
    background-color: white;
    border: solid 1px black;
}
.titles{
    font-family: 'Aboreto', cursive;
    font-weight: bold;
    font-size: 30px;
    margin: 10px 15px;
}
.product-box{
    border: solid 1px black;
    margin: 10px;
    display: flex;
}
.product-description{
    font-family: 'Aboreto', cursive;
    width: 60%;
    margin: 5px;
}
.product-texts{
    margin: 5px 0px;
}
.delete-box{
    width: fit-content;
    border: solid 1px black;
}
.delete-buton{
    border: none;
    padding: 5px;
    background-color: #FFEFEE;
    cursor: pointer;
}
.delete-buton:hover{
    background-color: #FFEBEE;
}
.cart-details{
    width: 30%;
    background-color: white;
    height: fit-content;
    border: solid 1px black;
}
.detail-titles{
    font-family: 'Aboreto', cursive;
    font-weight: bold;
    font-size: 20px;
    margin: 5px 5px;
}
.product-list{
    margin: 5px;
}
.product-detail{
    display: flex;
    font-family: 'Aboreto', cursive;
}
.total-amount{
    margin: 0px 5px;
    font-size: 18px;
    font-weight: bolder;
}
.confirm-buton{
    border: none;
    background-color: #FFEFEE;
    font-family: 'Aboreto', cursive;
    padding: 5px;
    cursor: pointer;
}
.confirm-box{
    margin: 5px;
    width: fit-content;
    border: solid 1px black;
}
.cart-img{
    width: 250px;
    height: 250px;
    vertical-align: bottom;
}
.alert-box{
    margin: 50px;
    border: solid 1px black;
    font-family: 'Aboreto', cursive;
    text-align: center;
    height: 150px;
    background-color: #FFEBEE;
}
.alert-title{
    font-weight: bold;
    font-size: x-large;
    margin: 10px;
}
.alert-text{
    margin: 5px;
}
.redirect-text{
    border-bottom: solid 1px black;
    font-weight: bold;
}