<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/stylesLogin.css" rel="stylesheet" />
    <%- include('../partials/head.ejs') %>
        <title>Ingres치</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
        <main>
            <div class="main">
                <div class="section-box">
                    <div class="login-image">
                        <img src="/images/Logo.jpg" alt="No responde" />
                    </div>
                    <div class="form-box">
                        <form action="/login" method="post" id="login-form">
                            <div class="logo-box">
                                <div class="logo">Bienvenido!</div>
                            </div>
                            <div class="titles-box">
                                <div class="titles">Email</div>
                            </div>
                            <div class="input-box">
                                <input type="email" class="input" placeholder="Email" name="email" id="email-input"/>
                            </div>
                            <small id="email-error"></small>
                            <div class="titles-box">
                                <div class="titles">Contrase침a</div>
                            </div>
                            <div class="input-box">
                                <input type="password" class="input" placeholder="Contrase침a" name="password" id="password-input"/>
                            </div>
                            <small id="password-error"></small>
                            <div class="submit-box">
                                <div class="submit-botom">
                                    <input type="submit" class="input" id="send-botom" value="Ingresar" />
                                </div>
                                <a href="/reset-password" id="password">Olvidaste tu contrase침a?</a>
                            </div>
                            <div class="redirect-box">
                                No tienes una cuenta? Crea una <a href="/register" id="register">Aqui</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../partials/footer.ejs') %>
        <script src="/scriptsjs/loginValidations.js"></script>
</body>
</html>