<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesRegister.css">
    <%- include('../partials/head.ejs') %>
        <title>Registrate</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
        <main>
            <div class="main">
                <div class="section-box">
                    <div class="register-image">
                        <img src="/images/Logo.jpg" alt="No Responde">
                    </div>
                    <div class="form-box">
                        <form action="/register" method="post">
                            <div class="main-title">Registrate!</div>
                            <div class="titles-box">
                                <label for="">Nombre</label>
                            </div>
                            <div class="input-box">
                                <input type="text" class="input" name="name">
                            </div>
                            <div class="titles-box">
                                <label for="">Email</label>
                            </div>
                            <div class="input-box">
                                <input type="email" class="input" name="email">
                            </div>
                            <div class="titles-box">
                                <label for="">Contraseña</label>
                            </div>
                            <div class="input-box">
                                <input type="password" class="input" name="password">
                            </div>
                            <div class="titles-box">
                                <label for="">Foto de Perfil</label>
                            </div>
                            <div class="input-box">
                                <input type="file"class="input" name="img">
                            </div>
                            <div class="send-box">
                                <input type="submit" value="Enviar" class="send-botom">
                            </div>
                            <div>
                                <a href="/login">Logueate</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../partials/footer.ejs') %>
</body>
</html>