<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/stylesForgotPassword.css" rel="stylesheet" />
    <%- include('../partials/head.ejs') %>
    <title>Restablecer tu contraseña</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section class="section-box">
            <div class="login-image">
                <img src="/images/Logo.jpg" alt="Logo image" srcset="">
            </div>
            <div class="form-box">
                <form action="" id="reset-password-form">
                    <div class="logo-box">
                        <div class="logo">Restablece tu contraseña</div>
                    </div>
                    <div class="titles-box">
                        <label for="password-input">Nueva Contraseña</label>
                    </div>
                    <div class="input-box">
                        <input type="password" class="input" placeholder="Contraseña" name="password" id="password-input"/>
                    </div>
                    <small id="password-error"></small>
                    <div class="titles-box">
                        <label for="password-input">Repite Contraseña</label>
                    </div>
                    <div class="input-box">
                        <input type="password" class="input" placeholder="Contraseña" name="password" id="new-password-input"/>
                    </div>
                    <small id="sec-password-error"></small>
                    <div class="send-box">
                        <input type="submit" class="send-botom" id="send-botom" value="Confirmar cambios" />
                    </div>
                </form>
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>