<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/stylesProductCreator.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
    <%- include('../partials/head.ejs') %>
    <title>Crea tu Producto</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div class="main-div">
            <form action="/shop/product-creator" method="POST" enctype="multipart/form-data" id="product-creator-form">
                <div class="main-title">
                    Crea tu Producto
                </div>
                <div class="div-box">
                    <div class="div-title">
                        <label for="name-input">Nombra a tu Producto</label>
                    </div>
                    <div class="div-input">
                        <input type="text" name="name" id="name-input" class="form-input">
                    </div>
                    <small id="name-error"></small>
                </div>
                <div class="div-box">
                    <div class="div-title">
                        <label for="description-input">Describe tu Producto</label>
                    </div>
                    <div class="div-input">
                        <textarea name="description" id="description-input" cols="30" rows="10"></textarea>
                    </div>
                    <small id="description-error"></small>
                </div>
                <div class="div-box">
                    <div class="div-title">
                        <label for="category-input">Categoria del Producto</label>
                    </div>
                    <div class="div-input-check">
                        <div>
                            <input type="radio" name="category" value="Producto" id="category-input">Producto    
                        </div>
                        <div>
                            <input type="radio" name="category" value="Servicio" id="category-input">Servicio
                        </div>
                    </div>
                    <small id="category-error"></small>
                </div>
                <div class="div-box">
                    <div class="div-title">
                        <label for="price-input">Define el Precio de tu Producto</label>
                    </div>
                    <div class="div-input">
                        <input type="text" name="price" id="price-input" class="form-input">
                    </div>
                    <small id="price-error"></small>
                </div>
                <div class="div-box">
                    <div class="div-title">
                        <label for="img-input">Agrega una Imagen a tu Producto</label>
                    </div>
                    <div class="div-input">
                        <input type="file" name="image" id="img-input" class="form-input">
                    </div>
                    <small id="img-error"></small>
                </div>
                <div class="buton-box">
                    <input type="submit" value="Crear Producto" id="send-buton" class="create-buton">
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="/scriptsjs/productCreatorValidations.js"></script>
</body>
</html>